html {
  height: 100%;
  overflow: hidden;
}

body {
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Serif Condensed;
}

h1 {
   font-size: 250%
}

p {
  font-size: 100%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 10%;
  min-height: 150vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 200px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 5px rgba(50, 50, 1000, .7);
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(250, 50, 250, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: white;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("https://images2.alphacoders.com/589/thumb-1920-589399.jpg");
  z-index:1;
}

#title h1 {
 transform: translateZ(.25px) scale(.50);
 transform-origin: 50% 100%;

}

#slide1:before {
  background-image: url("https://images.alphacoders.com/238/238803.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("http://hdqwalls.com/wallpapers/space-minimalism-hd-4k.jpg");
  z-index:2;
}

#slide3:before {
  #background-image: url("http://globalmedicalco.com/photos/globalmedicalco/17/81683.jpg");
  background-color: black;
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background: black;
}
