html {
  height: 100%;
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  margin:0;
  padding:0;
	perspective: 1px;
  height: 100%;
  font-family: Arial;
}

.Contingut {
  position: relative;
  padding: 10%;
  min-height: 150vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0);
	transform-style: inherit;
}


#Contingut2 {
  background-image: url("bgg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  backgr
  z-index:2;
}

h1 {
  font-size: 225%;
  color: #999;
}

p {
  font-size: 100%;
  line-height: 150%;
  color: #999;
}

ul {
  list -style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.title {
  width: 100%;
  padding: 5%;
  border-radius: 5px;
  background-image: url("bg2.jpg");
  box-shadow: 0 0 8px rgba(150, 250, 50, 1);
}

.header {
  text-align: center;
  font-size: 175%;
  color: white;
  text-shadow: 0 2px 2px #000;
}

#title {
  z-index:10;
}

#title h1 {
 transform: translateZ(.25px) scale(.90);
 transform-origin: 50% 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 25px;
}

<!--Estil galeria-->
div.gallery {
  margin: 10px;
  border: 10px solid #ccc;
  float: none;
  width: 10%;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}
