<link rel="stylesheet" href="/home/guillem/Escriptori/estilazo.css">
<title>Pagina web</title>
<head>
  <link rel="icon" type="image/gif" href="https://data.whicdn.com/images/299050581/original.gif" />
</head>
<div id="title" class="slide header">
  <h1>Dank memes</h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Memes comunes</h1>
    <p>Memes atemporales</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Memes simples</h1>
    <p>texto*2</p>
  </div>
  <img src="https://i.redd.it/h5yet8gu4w8y.jpg">
  <img src="https://cdn.thinglink.me/api/image/847483746205564928/1240/10/scaletowidth">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Memes complejos</h1>
    <p>Son como de otro universo casi</p>
</div>
