<link rel="stylesheet" href="Estil.css">
<title>Guillem - Pagina Web</title>
<!--Favicon-->
<head>
  <link rel="icon" type="text/css" href="X" />
</head>

<ul>
  <li><a class="active"
  href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Cosa</a></li>
</ul>

<div id="Contingut1" class="Contingut">
  <div class="title">
    <h1>Natura</h1>
    <p>La paraula "natura" prové del llatí natura, que significa "el curs de les coses, el caràcter natural".
      Natura és la traducció llatina de la paraula grega physis (φύσις) –d'on,
      entre d'altres, deriva la paraula física-, que en el seu significat original feia referència a la
      forma innata en la qual creixen espontàniament plantes i animals, a les seves característiques
      intrínseques. Així apareix en el primer ús escrit del terme physis, que fou utilitzat per Homer,
      i fa referència a les qualitats intrínseques d'una planta.</p>
  </div>
</div>


<div id="Contingut2" class="Contingut">
  <div class="title">
    <h1>Natura</h1>
    <p>La paraula "natura" prové del llatí natura, que significa "el curs de les coses, el caràcter natural".
      Natura és la traducció llatina de la paraula grega physis (φύσις) –d'on,
      entre d'altres, deriva la paraula física-, que en el seu significat original feia referència a la
      forma innata en la qual creixen espontàniament plantes i animals, a les seves característiques
      intrínseques. Així apareix en el primer ús escrit del terme physis, que fou utilitzat per Homer,
      i fa referència a les qualitats intrínseques d'una planta.</p>
  </div>
</div>

<div id="Contingut3" class="Contingut">
  <div class="title">
    <h1>Natura</h1>
    <p>La paraula "natura" prové del llatí natura, que significa "el curs de les coses, el caràcter natural".
      Natura és la traducció llatina de la paraula grega physis (φύσις) –d'on,
      entre d'altres, deriva la paraula física-, que en el seu significat original feia referència a la
      forma innata en la qual creixen espontàniament plantes i animals, a les seves característiques
      intrínseques. Així apareix en el primer ús escrit del terme physis, que fou utilitzat per Homer,
      i fa referència a les qualitats intrínseques d'una planta.</p>
  </div>
</div>
